@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Overpass", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-inner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo{
    padding-right: 60px;
}

nav{
    padding: 1rem 0;
    
}
.nav-links{
    display: flex;
    list-style: none;
}

.single-link{
    padding: 1rem;
}

.single-link a {
color: black;
text-decoration: none;
}

.text-nav-container{
    display: flex;
    align-items: center;
}

.main-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header h1 {
    margin-top: 3rem;
}

.btn-head-container{
    margin-top: 2rem;
    padding-bottom: 5rem;
}

#subtitle{
    margin: 0 auto;
    text-align: center;
}

.container{
    display: flex;
    align-items: center;
    padding: 0 8rem;
}

.header-container h3 {
    margin-top: 2.5rem;
}

.header-container p {
    margin-top: 1.5rem;
}

header{
    background-color: hsl(356, 100%, 66%);
}

footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 3rem;
    justify-items: center;
    padding: 2rem;
    background: black;
    color: white;
    border-top-right-radius: 5rem;
}

footer ul {
    list-style: none;
    margin-top: 2rem;
}

footer ul li a {
color: white;
text-decoration: none;
}

footer ul li {
    margin-top: 0.5rem;

}